.button {
    width: 170px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    @include border-backgroud-opaque;
    color: $back-color;
}

@media screen and (max-width: 1400px) {
    .button {
        width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .button {
        width: 120px;
        height: 35px;
    }
}