.description__page__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5%;
  padding: 70px 20% 40px 20%;
  background-color: $color-opaque-light;
}

.desc__content__wrapper {
  padding: 5px;
}

.decription__name{
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid $color-opaque-dark;
}

.description__author {
  font-size: 1.2rem;
}

.description__myrating {
	overflow: hidden;
  height: 26px;
}
.description__myrating:not(:checked) > input {
	display: none;
}
.description__myrating:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 1.5rem;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.description__myrating:not(:checked) > label:before {
	content: '★';
}

.myrating__numbers > i {
  font-size: 13px;
  color: #a2a2a2;
  font-style: normal;
  text-align: center;
  display: inline-block;
  width: 20px;
  user-select: none;
}

.description__myrating > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.description__myrating:not(:checked) > label:hover,
.description__myrating:not(:checked) > label:hover ~ label {
	color: gold;
}
.description__myrating > input:checked + label:hover,
.description__myrating > input:checked + label:hover ~ label,
.description__myrating > input:checked ~ label:hover,
.description__myrating > input:checked ~ label:hover ~ label,
.description__myrating > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.description__myrating > label:active {
	position: relative;
}

.description__allrating {
  font-weight: 900;
  font-size: 1.5rem;
}

.description__author,
.description__year,
.description__genre,
.description__descr__title {
  margin-bottom: 10px;
}

.description__descr__title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 5px solid $color-opaque-dark;
  padding-top: 40px;
}

.description__descr__content {
  margin-top: 20px;
}

.decription__rating__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.description__allrating__text {
  margin-left: 20px;
}

.desc__img__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-opaque-dark;
  padding: 20px 5px 10px 5px;
}

.description__addtoread {
  background-color: $header-color;
  width: 100%;
  margin-top: 20px;
}

.description__image {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .decription__rating__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
  }

  .description__allrating__text {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {

  .description__page__wrapper {
    padding: 20px 10% 10px 10%;
  }
}

@media screen and (max-width: 500px) {
  .desc__img__wrapper {
    width: 70px;
  }

  .description__page__wrapper {
    padding: 20px 5% 10px 5%;
  }
}