.description__page__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5%;
  padding: 70px 20% 40px 20%;
  background-color: $color-opaque-light;
}

.desc__content__wrapper {
  padding: 5px;
}

.decription__name{
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid $color-opaque-dark;
}

.description__author {
  font-size: 1.2rem;
}

.description__myrating {
	overflow: hidden;
  height: 26px;
}

.description__myrating:not(:checked) > input {
	display: none;
}

.description__myrating:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 1.5rem;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.description__myrating:not(:checked) > label:before {
	content: '★';
}

.myrating__numbers > i {
  font-size: 13px;
  color: #a2a2a2;
  font-style: normal;
  text-align: center;
  display: inline-block;
  width: 20px;
  user-select: none;
}

.description__myrating > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.description__myrating:not(:checked) > label:hover,
.description__myrating:not(:checked) > label:hover ~ label {
	color: gold;
}
.description__myrating > input:checked + label:hover,
.description__myrating > input:checked + label:hover ~ label,
.description__myrating > input:checked ~ label:hover,
.description__myrating > input:checked ~ label:hover ~ label,
.description__myrating > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.description__myrating > label:active {
	position: relative;
}

.description__allrating {
  font-weight: 900;
  font-size: 1.5rem;
}

.description__author,
.description__year,
.description__genre,
.description__descr__title {
  margin-bottom: 10px;
}

.description__descr__title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px solid $color-opaque-dark;
  padding-top: 10px;
}

.description__descr__content {
  margin-top: 20px;
}

.decription__rating__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.decription__subrating__wrapper {
  margin-top: 10px;
  color: $border-input-focus;
}

.description__mysubrating {
  display: inline-block;
  text-align: center;
  padding-top: 4px;
  background-color: gold;
  text-shadow: 1px 1px #c60;
  color: black;
  font-weight: 700;
  width: 30px;
  height: 25px;
  border-radius: 10px;
  margin-left: 10px;
}

.desc__review__img {
  margin-right: 20px;
}

.description__allrating__text {
  margin-left: 15px;
}

.decr__form {
  margin-bottom: 20px;
}

.decr__textarea {
  padding: 5px;
  height: 50px;
  width: 99%;
  resize: none;
  @include border-and-backgroud;
  height: 30px;
  font-family: inherit;
  cursor: auto;
}

.decr__textarea:focus {
  outline: 2px $border-focus-color;
  resize: none;
  height: 120px;  
}

.decr__textarea::-webkit-scrollbar {
  width: 0.6em;
  background-color: $back-color;
  cursor: pointer;
}

.decr__textarea::-webkit-scrollbar-thumb {
  background-color: $color-opaque-dark;
  outline: 1px solid $border-focus-color;
}

.desc_button__submit {
  height: 20px;
  color: black;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
   -ms-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
       animation: fadein 0.5s;
}

.desc__review__body {
  background-color: $color-opaque-light;
  padding: 10px;
  margin-bottom: 20px;
}

.desc__review__header,
.desc__review__bodyhead {
  font-size: 0.8rem;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 0.6fr 4fr 5fr;
  gap: 5px;
}

.desc__review__bodyhead {
  padding-bottom: 10px;
  border-bottom: 2px solid $color-opaque-dark;
}

.desc__review__namedatewrap {
  margin-right: 10px;
}

.desc__review__bodytext {
  margin-top: 10px;
}

.desc__review__name {
  font-weight: 600;
}

.desc__review__date {
  color: $border-input-focus;
}

.desc__review__ratingwrap {
  justify-self: flex-end;
}

.desc__review__ratingtext {
  margin-right: 10px;
}

.desc__review__ratingstars {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.desc__review__ratingstars span {
  padding: 0;
	font-size: 12px;
	margin: 0;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.desc__review__ratingstars > span:before {
	content: '★';
}

.desc__review__ratingstars > span.golden {
	color: goldenrod;
	text-shadow: 1px 1px #c60;
}

.desc__review__bookimg {
  max-width: 60px;
}

.desc__img__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-opaque-dark;
  padding: 20px 5px 10px 5px;
}

.description__addtoread,
.description__wanttoread {
  background-color: $header-color;
  width: 100%;
  margin-top: 20px;
}

.description__image {
  width: 100%;
}

.descr__reviewsarea__wrapper {
  margin-top: 30px;
}

.desc__review__img{
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1100px) {
  .decription__rating__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
  }

  .description__allrating__text {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {

  .description__page__wrapper {
    padding: 20px 10% 100px 10%;
  }
}

@media screen and (max-width: 500px) {
  .desc__img__wrapper {
    width: 70px;
  }

  .description__page__wrapper {
    padding: 20px 5% 10px 5%;
  }

  .description__addtoread {
    height: unset;
    font-size: 0.5rem;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}