.header {
    width: 100%;
    height: 75px;
    background-color: $header-color;
    position: relative;
    z-index: 2;
}

.header .wrapper {
    @include flex-space-between;
    height: 100%;
}

.header__cabinet {
    @include flex-space-between;
    height: 100%;
    width: 230px;
    color: $back-color;
}

.header__cabinet__enter {
    cursor: pointer;
}

.header__form {
    position: relative;
}

.header__search__input {
    @include border-and-backgroud;
}

.header__search__input:focus {
    outline: solid 1px $border-focus-color;
}

.search__results__header__wrapper {
    position: absolute;
    top: 65px;
    @include border-and-backgroud;
    width: 50%;
    padding: 5px 30px;
}

.results__header__top {
    @include flex-space-between;
}

.results__header__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-top: solid 2px $border-color;;
}

.results__header__bookwrapper{
    height: 80px;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.results__header__bookwrapper:hover {
    background-color: $back-color-hover;
}

.results__header__bookcover {
    overflow: hidden;
    width: 80px;
}

.results__header__bookinfo {
    display: flex;
    flex-direction: column;
}

.results__header__title{
    padding-top: 5px;
    font-weight: 900;
    margin-bottom: 10px;
}

.header__search__active {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 5px;
    background: url("./images/search.png") 0 0 no-repeat;
    filter: brightness(0) saturate(100%) invert(81%) sepia(47%) saturate(314%) hue-rotate(2deg) brightness(90%) contrast(87%);
}

.header__personal__name-user {
    cursor: pointer;
}

.header__random {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;

    border: 1px solid $back-color;;
}

.header__search {
    @include flex-space-between;
}
.header__personal{
    @include flex-space-between;
    gap: 30px;
    display: none;
    &__icon{
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid $back-color;
            transition: .2s;
        }
    }
    &__link{
        @include flex-space-between;
        gap: 10px;
        transition: .2s;
        &:hover>div>img{
            border: 2px solid $back-dark-color; 
        } 
        &:hover span{
            color: $back-dark-color;
        }
    }
    &__name-user{
        color: $back-color;
        font-weight: 600;
        transition: .2s;
    }
    &__btn-output{
        width: 100px;
    }

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }