.personal__user {
    width: 100%;
    height: 100px;
    background-color: #2b222a;
    color: $text-dark-color;
}

.personal__user .wrapper {
    height: 100%;
    @include flex-space-between;
}

.personal__user__block {
    display: flex;
}

.personal__user__name {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.personal__user__avatar {
    margin-right: 40px;
}

.personal__user__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.personal__content {
    height: 100%;
}

.personal__content .wrapper {
    margin-bottom: 40px;
}

.personal__tab {
    overflow: hidden;
    margin-top: 40px;
    display: flex;
}

.personal__tab__button {
    width: 210px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    @include flex-center;
    background: rgba(112, 101, 108, 0.2);
}

.personal__tab__button:hover {
    background: rgba(112, 101, 108, 0.4);
}

.personal__button-active {
    background: rgba(112, 101, 108, 0.4);
}

.personal__tab__wrapper {
    min-height: 50px;
    margin-top: 30px;
}

.personal__tab__content {
    display: none;
    font-size: 20px;
}

.personal__read__book {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    color: $text-dark-color;
}

.personal__read__info {
    width: 35%;
    padding: 20px;
    @include flex-colomn;
    align-items: center;
}

.personal__read__info__img {
    width: 170px;
    height: 250px;
    background-size: cover;
    margin-bottom: 20px;
    cursor: pointer;
}

.personal__reviews {
    width: 65%;
    padding: 20px;
    @include flex-colomn;
    align-items: center;
}

.personal__reviews__container {
    width: 100%;
    @include flex-colomn;
    align-items: center;
}

.personal__reviews__grade {
    width: 200px;
    height: 30px;
    @include flex-center;
}

.personal__reviews__review {
    width: 100%;
    height: 260px;
    margin-top: 10px;
    overflow: auto;
}

.personal__reviews__button {
    color: $text-dark-color;
    margin: auto;
    margin-top: 30px;
    @include flex-center;
    font-size: 16px;
}