.preview {
    display: flex;
    flex-direction: column;
    background: url('./images/book-background.jpg') no-repeat center 0;
    background-size: cover;
    height: 550px;
}

.preview__title {
    width: 100%;
    @include flex-center;
    margin-top: 130px;
    margin-bottom: 0;
    font-size: 3.5rem;
    color: $back-color;
    font-weight: 600;
}

.search__results__main__wrapper {
    position: absolute;
    top: 310px;
    @include border-and-backgroud;
    width: 60%;
    padding: 5px 30px;
}

.preview__search__input {
    background-color: $color-opaque-light;
    border: solid 2px $border-color;
    width: 75%;
}

.preview__search__input:focus {
    background-color: $color-opaque-dark;
    outline: solid 1px $border-focus-color;
}

.preview__form {
    @include flex-space-between;
    margin-top: 40px;
}

.preview__about {
    width: 100%;
    @include flex-space-between;
    margin-top: 40px;
}

.preview__about__column {
    width: 20%;
    @include flex-space-between;
    user-select: none;
}

.preview__about__img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background: url('./images/main-icons.png') 0 0 no-repeat;
}

.preview_img2 {
    background-position: 0 -60px;
}

.preview_img3 {
    background-position: 0 -120px;
}

.preview_img4 {
    background-position: 0 -180px;
}

.preview__about__text {
    width: 70%;
    color: $back-color;
    font-size: 1rem;
}

.preview__more {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

