.preview {
    display: flex;
    flex-direction: column;
    background: url('./images/book-background.jpg') no-repeat center 0;
    background-size: cover;
    height: 550px;
}
.preview .wrapper {
    box-sizing: border-box;
}

.preview__title {
    width: 100%;
    @include flex-center;
    margin-top: 130px;
    margin-bottom: 0;
    font-size: 3.5rem;
    color: $back-color;
    font-weight: 600;
}

.search__results__main__wrapper {
    position: absolute;
    top: 285px;
    @include border-and-backgroud;
    width: 60%;
    padding: 5px 30px;
}

.preview__search__input {
    background-color: $color-opaque-light;
    border: solid 1px $border-color;
    width: 75%;
    transition: 0.2s;
}

.preview__search__input:focus {
    border: solid 1px $button-form-color;
    background-color: $color-opaque-dark;
    outline: solid 1px $button-form-color;
}

.preview__form {
    @include flex-space-between;
    margin-top: 40px;
}

.preview__about {
    width: 100%;
    @include flex-space-between;
    margin-top: 40px;
}

.preview__about__column {
    width: 20%;
    @include flex-space-between;
    user-select: none;
}

.preview__about__img {
    margin-right: 10px;
    width: 70px;
    height: 60px;
    background: url('./images/main-icons.png') 0 0 no-repeat;
}

.preview_img2 {
    background-position: 0 -60px;
}

.preview_img3 {
    background-position: 0 -120px;
}

.preview_img4 {
    background-position: 0 -180px;
}

.preview__about__text {
    width: 70%;
    color: $back-color;
    font-size: 1rem;
}

.preview__more {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preview__search,
.preview__about,
.preview__more {
    font-weight: 600;
}


.preview__search,
.preview__more {
    transition: 0.2s;
}

.preview__search:hover,
.preview__more:hover {
    background-color: $button-form-color;
}

@media (max-width: 1200px){

    .preview__about__column {
        width: 24%;
    }

    .preview__about__text {
        font-size: 0.8rem;
    }

}

@media (max-width: 1000px) {

    .preview__search {
        height: 30px;
    }

    .preview__more {
        height: 30px;
        width: 200px;
        
    }

    .preview__search {
        width: 150px;
    }

}

@media (max-width: 900px){

    .search__results__header,
    .header__cabinet {
        font-size: 0.8rem;
    }

    .results__header__title {
        font-weight: 600;
    }

    .preview__search__input {
        width: 50%;
    }

}

@media (max-width: 768px) {

    .preview {
        height: 480px;
    }

    .search__results__main__wrapper {
        top: 252px;
    }

    .preview__title {
        font-size: 2rem;
    }

    .preview__about__text,
    .preview__search__input {
        font-size: 0.5rem;
    }

    .preview__search,
    .preview__more {
        font-size: 0.9rem;
    }

    .preview__about__column {
        flex-direction: column;
    }

    .preview__about__text {
        width: 95%;
        text-align: center;
    }

    .preview__about__img {
        margin-right: 0;
    }

}

@media (max-width: 600px) {

    .search__results__main__wrapper {
        top: 182px;
        width: 90%;
    }

    .preview__form {
        margin-top: 20px;
        flex-direction: column;
        align-items: unset;
    }

    .preview__search__input {
        width: 100%;
    }

    .preview__search {
        align-self: center;
        margin-top: 20px;
    }

    .preview__title {
        margin-top: 100px;
    }

    .preview__more,
    .preview__about {
        margin-top: 20px;
    }

}

@media (max-width: 360px) {

    .preview__title {
        font-size: 1.5rem;
    }

    .preview__about__text,
    .preview__search__input {
        font-size: 0.5rem;
    }

    .preview__search,
    .preview__more {
        font-size: 0.7rem;
    }

    .footer__year {
        margin-right: 10px;
    }

}