.recommend {
    margin-top: 40px;

    border-bottom: 1px dashed green;

}

.recommend .wrapper {
   
    margin-bottom: 40px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

.recommend__blur{
    @include flex-space-between;
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px);
}

.recommend__info {
    width: 70%;
    height: 300px;
    padding: 30px;

    border: 1px dashed green;
}

.recommend__name {
    margin-bottom: 5px;
}

.recommend__author {
    margin-bottom: 20px;
}

.recomend__discr {
    margin-bottom: 20px;
}

.recommend__book {
    height: 250px;
    width: 180px;
    margin-right: 60px;

    border: 1px solid black;
}

