

.viewed__title {
    margin-top: 80px;
    width: 100%;
    @include flex-center;
}

.viewed__container {
    display: flex;
    margin-top: 40px;
}

.viewed__colomn {
    @include flex-colomn;
    margin-right: 25px;
    align-items: center;
    cursor: pointer;
    width: 200px;
    justify-content: space-between;
    transition: .3s;
    &:hover{
        opacity: .8;
        transition: .3s;
    }
}

.viewed__book {

    img{
        height: 170px;
    }
}

.viewed__author {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.viewed__name {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.viewed__text{
    font-size: 1.2em;
}
