$error-color: rgb(233, 5, 5);
$valid-color: green;

// $header-input-color: #fffcf2;

$border-color: #ffcc99;
$border-focus-color: #f8de8b;

$back-color: #fff2ca;

Настя закоммитила конфликт
//$error-color: rgba(255, 0, 0, 0.541);
