$background-color: #f5f5f5;
$background2-color: white;

$header-color: rgba(0, 0, 0, 0.6);

$border-color: white;
$border-focus-color: #dfdfdf;
$border-input: #b8b9b9;
$border-input-focus: #797a7a;
$border-container: #e4e4e4;

$back-color: #f4f3f1;
$back-dark-color: #815003;
$back-color-hover: #fffdf6;
$form-color: #fafafa;

$color-opaque-light: #fff2ca80;
$color-opaque-dark: #b9a79580;

$error-color: rgb(233, 5, 5);
$valid-color: green;

$text-dark-color: rgb(48, 45, 45);

$button-form-color: #377ca7;
$button-form-hover: rgb(13, 100, 155);

$button-cabinet: #a8a8a8;
$button-cabinet-hover: #7d7d7d;

// $header-input-color: #fffcf2;
// $error-color: rgba(255, 0, 0, 0.541);
