// $header-input-color: #fffcf2;

$border-color: #ffcc99;
$border-focus-color: #f8de8b;

$back-color: #fffbf1;
$back-color-hover: #fff8e4;

$color-opaque-light: #fff2ca80;
$color-opaque-dark: #bc8c5b80;

$error-color: rgba(255, 0, 0, 0.541);
